@{
    Layout = null;
}
@using Blog.Resources

<!DOCTYPE html>
<html>
    <head>
        <title>@Res.Error</title>
    </head>
    <body>
        <h2>
            @Res.ErrorMessage
        </h2>
    </body>
</html>